<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据模型设计器</title>
    <script src="../../../js/lib/vue.min.js"></script>
    <script src="../../../js/lib/iview/iview.min.js"></script>
    <script src="../../../js/lib/axios/axios.min.js"></script>
    <script src="../../../js/lib/layui/layui.js"></script>
    <script src="../../../js/service/common.js"></script>
    <link rel="stylesheet" href="../../../css/lib/iview.css" type="text/css">
    <link rel="stylesheet" href="../../../js/lib/layui/css/layui.css" type="text/css">
    <link rel="stylesheet" href="../../../css/commen.css" type="text/css">
    <style>
        #app {
            /*padding: 32px;*/
        }

        .demo-split {
            height: 100vh;
            border: 1px solid #dcdee2;
        }

        .demo-split-pane {
            padding: 10px;
        }
    </style>

</head>
<body>
<div id="app">
    current selected data directory is: <span
        style="font-size: 25px;margin-left: 30px">{{data_directory.selected}}</span><br>
    <div id="designer_metadata_tree"></div>
    <!--operate the data struct-->
    <drawer
            title="adjusting the data structure"
            v-model="data_struct.show"
            :mask-closable="true"
            placement="left"
            width="360"
    >
        <i-table height="650" stripe border :columns="data_struct.columns" :data="data_struct.data"
                 :loading="data_struct.loading"></i-table>
    </drawer>
</div>
<script>
    const vue_data = {};
    const vue_methods = {};
</script>
<script src="js/designer_data_directory.js"></script>
<script src="js/designer_data_struct.js"></script>
<script>
    let Main = {
        data() {
            return vue_data;
        },
        methods: vue_methods
    };
    const component = new (Vue.extend(Main))().$mount('#app');
</script>
<script>
    init_designer_data_directory();
</script>

</body>

</html>